<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <transmission name="trans_1">
	  <type>transmission_interface/SimpleTransmission</type>
	  <joint name="move_1_joint">      
	    <hardwareInterface>VelocityJointInterface</hardwareInterface>
	  </joint>
    <actuator name="act_1">
      <hardwareInterface>VelocityJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>        
  </transmission>

  <transmission name="trans_2">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="move_2_joint">      
      <hardwareInterface>VelocityJointInterface</hardwareInterface>
    </joint>
    <actuator name="act_2">
      <hardwareInterface>VelocityJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>        
  </transmission>

  <transmission name="trans_3">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="move_3_joint">      
      <hardwareInterface>VelocityJointInterface</hardwareInterface>
    </joint>
    <actuator name="act_3">
      <hardwareInterface>VelocityJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>        
  </transmission>

</robot>
